@keyframes page_shake
  0%
    transform: rotate(0deg);
  10%
    transform: rotate(-45deg);
  15%
    transform: rotate(-55deg) scale(1.1);
  20%
    transform: rotate(-35deg) scale(0.9);
  25%
    transform: rotate(-55deg) scale(1.1);
  30%
    transform: rotate(-35deg) scale(0.9);
  50%
    transform: rotate(45deg);
  55%
    transform: rotate(35deg) scale(1.1);
  60%
    transform: rotate(55deg) scale(0.9);
  65%
    transform: rotate(35deg) scale(1.1);
  70%
    transform: rotate(55deg) scale(0.9);
  75%,
  100%
    transform: rotate(0deg);
